<div class="chat" *ngIf="chatRoom">
    <div class="chat-header">
        <h3>{{chatRoom.name}}</h3>
        <button mat-icon-button (click)="closeChat()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="chat-body" #chatBody (scroll)="onScroll()">
        <div *ngIf="true" class="more-button-wrapper">
            <button mat-button>Ucitaj vise...</button>
        </div>

        <div *ngFor="let msg of chatRoom.messages; let i = index">
            <div class="message" [ngClass]="msg.username == username ? 'message-user' : 'message-other'">
                <div *ngIf="showMessageSender(msg, i)" class="message-info message-info-name">
                    <span>{{msg.username}}</span>
                </div>
                <div class="message-text" [ngClass]="{'first-message': true}">
                    <p>{{msg.content}}</p>
                </div>
                <div class="message-info message-info-time">
                    <p>{{msg.sentAt | date:'shortTime'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-input">
        <div class="chat-input-info">
            <p>Poruka:</p>
        </div>
        <div class="chat-input-text">
            <input type="text" [(ngModel)]="text" placeholder="Type message here...">
        </div>
        <div class="chat-input-button">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>