
<div class="users-list-container">

    <h3>Chats:</h3>

    <div class="users-list-header">
        <input>
        <div>
            <button mat-icon-button>
                <mat-icon>
                    search
                </mat-icon>
            </button>
            <button mat-icon-button (click)="refreshChats()">
                <mat-icon>
                    refresh
                </mat-icon>
            </button>
            <button mat-icon-button (click)="addChatFlag = !addChatFlag">
                <mat-icon *ngIf="!addChatFlag">add</mat-icon>
                <mat-icon *ngIf="addChatFlag">remove</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="addChatFlag" class="add-chat-container">

        <div class="add-chat">
        <span>Add chat:</span>
        
            <input matInput #searchValue>
            <div>
                <button mat-icon-button (click)="addChat(searchValue.value)">
                    <mat-icon>
                        done
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-list>
        <mat-list-item *ngFor="let chat of chats">
            <div class="users-list">
                <button mat-button (click)="changeChat(chat.id)" class="user-name">{{chat.name}}</button>
                <button mat-icon-button class="user-delete" (click)="removeChat(chat.id)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
