.users-list-container {
    width: 90%;
    margin: 10px auto;
}

.users-list-header {
    background-color: #26A69A;
    color: white;
    padding: 5px;
    padding-left: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-list {
    border-radius: 15px;
    text-align: center;
}
.users-list {
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-name {
        width: 80%;
    }
}

.add-chat-container {
    padding: 5px;
    padding-left: 25px;
    border-radius: 15px;
    background-color: #26A69A;
    margin-top: 5px;
    color: white;
}
.add-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}