<div class="active-users">
    <h3>Active users</h3>
    <div class="users-container">
        <div class="user">
            <p>Josip</p>
        </div>

        <div class="user">
            <p>Pero</p>
        </div>

        <div class="user">
            <p>Marko</p>
        </div>

        <div class="user">
            <p>Ivan</p>
        </div>
    </div>
</div>

<div class="chat">
    <div class="chat-name">
        <h3>Chat name</h3>
    </div>
    <div class="chat-body">
        <div *ngIf="true" class="more-button-wrapper">
            <button>Ucitaj vise...</button>
        </div>

        <div *ngFor="let msg of msgs; let i = index" class="message" [ngClass]="isUser(msg.id) == true ? 'message-user' : 'message-other'">
            <div *ngIf="false" class="message-info message-info-name">
                <header>{{msg.id}}</header>
            </div>
            <div class="message-text" [ngClass]="{'first-message': true}">
                <p>{{msg.text}}</p>
            </div>
            <div class="message-info message-info-time">
                <p>16:00</p>
            </div>
        </div>


        <div  class="message" [ngClass]="true == true ? 'message-user' : 'message-other'">
            <div *ngIf="false" class="message-info message-info-name">
                <header>Josip</header>
            </div>
            <div class="message-text" [ngClass]="{'first-message': true}">
                <p>Test message</p>
            </div>
            <div class="message-info message-info-time">
                <p>16:00</p>
            </div>
        </div>
        
    </div>
    

    <div class="chat-input">
        <div class="chat-input-info">
            <p>Poruka:</p>
        </div>
        <div class="chat-input-text">
            <input type="text">
        </div>
        <div class="chat-input-button">
            <button>Send</button>
        </div>
    </div>
</div>